.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav {
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-right: 76px;
}
.studio-upper {
  color: #2e2f42;
}
.nav.studio {
  color: #2e2f42;
}
.nav:hover,
.nav:focus {
  color: #404bbf;
}
.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
  position: relative;
}
.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-page {
  display: flex;
  align-items: center;
}
.contact-list {
  display: flex;
  gap: 40px;
}

.main-title {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  line-height: 1.07;
  color: white;
  background-color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.title-one {
  font-size: 56px;
  line-height: 1, 07;
  letter-spacing: 0.02em;
  padding-bottom: 48px;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
body {
  color: #434455;
  background-color: white;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
.main-title .order-button {
  color: white;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.order-button {
  cursor: pointer;
  border: none;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
  color: white;
}

.advantages-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-descr {
  color: #434455;
  font-family: 'Roboto';
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.advantages {
  padding: 120px 0;
}
.advantages-list {
  display: flex;
  gap: 24px;
  text-align: justify;
}
.advantages-title {
  margin-bottom: 8px;
}
.advantages-list-item {
  width: 264px;
  width: calc((100%-72px) / 4);
}
.team {
  background-color: #f4f4fd;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.team-title {
  color: #2e2f42;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
}
.team-repr {
  background-color: white;
  width: 100%;
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  padding: 32px 0;
}
.team-position {
  color: #434455;
  font-family: 'Roboto';
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list {
  display: flex;
  gap: 24px;
  padding: 72px 0 120px 0;
}

.portfolio {
  color: #2e2f42;
  padding: 120px 0 120px 0;
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 0 72px 0;
}
.portfolio-repr {
  color: #2e2f42;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 36px;
  width: 100%;
  max-width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-repr:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.img-anime {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  display: flex;
  padding-top: 40px;

  transform: translateY(100%);
  transition: transform 0.3s ease;
  opacity: 0;
  padding: 40px 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-repr:hover .overlay,
.portfolio-repr:focus-within .overlay {
  transform: translateY(0%);
  opacity: 1;
}

.portfolio-name {
  color: #2e2f42;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-descr {
  color: #434455;
  font-family: 'Roboto';
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-info {
  border-top: none;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.footer {
  background-color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
  padding: 100px 0;
  margin-left: 0;
}
.footer .container {
  display: flex;
}
.studio {
  color: #f4f4fd;
}

.footer-descr {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.logo.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: baseline;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: auto;
  padding-right: auto;
}
.logo-insta {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
}
.adv-icons {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.icons-circle {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-circle:hover,
.icons-circle:focus {
  background-color: #404bbf;
}

.icons {
  fill: #f4f4fd;
}
.icons-li {
  width: 40px;
  height: 40px;
}
.icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-links {
  display: block;
}
.footer-social {
  width: 100%;
  max-width: 208px;
}
.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  color: white;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  height: 40px;
  width: 100%;
  justify-content: center;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-icons-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 8px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-circle:hover,
.footer-icons-circle:focus {
  background-color: #31d0aa;
}

.footer-web-box {
  margin-right: 120px;
}
.footer-subscribe {
  margin-left: 80px;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 16px;
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
}
.footer-subscribe-label {
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.footer-subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  min-height: 40px;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  padding-left: 16px;
}
.footer-subscribe-input::placeholder {
  color: #fff;
}
.footer-subscribe-button {
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.close-button {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}
.close-button:hover .close-modal-icon {
  fill: #ffffff;
}
.close-button:focus .close-modal-icon {
  fill: #ffffff;
}
.close-modal-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #2e2f42;
}
.form-wrapper-cont {
  position: relative;
  margin-bottom: 8px;
}
.form-wrapper-cont-area {
  margin-bottom: 16px;
}
.form-user-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-user-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-user-input:focus {
  border: 1px solid #4d5ae5;
}
.form-user-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-user-input:focus + .form-user-icon {
  fill: #4d5ae5;
}
.form-user-icon-wrapper {
  position: relative;
}
.form-user-comment {
  width: 100%;
  resize: none;
  min-height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-user-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-user-comment:focus {
  border: 1px solid #4d5ae5;
}
.form-wrapper-checkbox {
  margin-bottom: 24px;
}
.custom-checkbox {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .form-user-checkbox .custom-checkbox {
  border: transparent;
  background-color: #404bbf;
  fill: #f4f4fd;
}
.form-user-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-user-checkbox a {
  text-decoration: underline;
  color: #4d5ae5;
}
.form-btn-submit {
  background-color: #4d5ae5;
  color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  display: block;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
